* a {
    text-decoration: none;
}

li {
    list-style: none;
}

.offcanvas {
    width: 320px;
}

.navbar-brand {
    color: #484545;
}

.heart {
    margin: 0 10px;
}

.heart:hover {
    color: black;
}

.topbar {
    color: gray;
    font-size: 19px;
    margin: 0 10px;
}

.topbar:hover {
    color: black;
}

.tipologo {
    color: black;
    font-size: 25px;
    margin: 0 0 0 520px;
}

.tipologo:hover {
    color: black;
}

/* Hide the popup by default */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Style the search button */
#openSearchButton {
    cursor: pointer;
}

/* Style the search input and submit button */
#searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#searchSubmitButton {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.ul-bg {
    background-color: #484545;
}

.agt:hover {
    color: rgb(245, 62, 62) !important;
}

.fth {
    color: rgb(160, 157, 157);
    background-color: #484545;
    border-radius: 0%;
    border-color: rgb(160, 157, 157);
    font-size: 18px;
    padding: 3px 26px;
}

.secbod { 
    margin-top: 50px;
    height: 500px;
    background-image: url(../image/display3-photo.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.secbod p {
    margin: 100px 0 0 0;
    font-size: 50px;
    font-weight: bolder;
}

.hinsecbod {
    margin-top: 790px;
}

.insecbod {
    display: flex;
    align-items: center;
    justify-content: center;
}

#insecbod {
    display: flex;
    align-items: center;
    justify-content: center;
}

.far {
    font-size: 20px;
    font-weight: bold;
}

.mgt {
        width: 900px; 
        height: 30px;
        font-size: 16px;
        margin-bottom: 15px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Style the search button */
#openSearchButtons {
    cursor: pointer;
}

/* Style the search input and submit button */
#searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#searchSubmitButton {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.secbod a {
    text-decoration: none;
    font-weight: bold;
    color: black;

}

.secbod a:hover {
    color: white;
}

h1 {
    color: white;
    margin-top: 10px;
}

.advsea:hover {
    text-decoration: underline;
    color: white;
}

.batch {
    display: flex;
    justify-content: center;
    margin: 70px 0 200px 0;
}

#outer {
    position: relative;
}

#outer img {
    margin: 50px 0 0 0;
    height: 400px;
    width: 600px;
}

#inner {
    position: absolute;
    width: 500px;
    height: 80px;
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -250px;
    background: rgb(255, 255, 255);
}

#inner a {
    text-align: center;
    text-decoration: none;
    color: black;
}

#inner a:hover {
    text-decoration: none;
}

#recround {
    margin-top: 20px;
    color: gray;
}

#rrcol {
    margin-top: 20px;
    color: gray;
}

#rround {
    margin-top: 20px;
    color: gray;
}

#text {
    margin: 0 25px;
    font-size: 22px;
    font-weight: bold;
}

#text:hover {
    text-decoration: underline;
}

#afi {
    margin: 0 0 0 15px;
    font-size: 16px;
    font-weight: bold;
}

#texts {
    margin: 0 0 0 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#texts:hover {
    text-decoration: underline;
}

.afidivider {
    margin: 10px 50px 10px 50px
}

#authorsj {
    color: red;
}

#authorsp {
    color: red;
}

#authorss {
    color: red;
}

.one {
    margin: 15px 200px 15px 200px
}

.batchdivider {
    display: none;
}

.contain {
    display: flex;
    flex-direction: row;
    height: 200px;
    margin: 200px 170px 50px 350px;
}


#second {
   margin: 0 0 700px 0;
   position: relative;
}

#second img {
    margin: 0 30px 0  0;
    width: 400px;
    height: 300px;
}

.seconddivider {
    display: none;
}

#insecond {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 50%;
    bottom: 0;
    margin: 0 0 -400px -100px;
    background-color: white;
}

#insecond a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.containdivider {
    margin: 250px 250px 0 250px;
}

.fourthbod {
    display: flex;
    justify-content: center;
    margin: 12px;
}

#TMPR {
        position: relative;
        margin-bottom: 5px;
}

#TMPR img {
    height: 700px;
    width: 1200px;
}

#TBG {
    position: absolute;
    width: 200px;
    height: 35px;
    left: 50%;
    bottom: 0;
    margin: 0 0 650px -100px;
    background: rgb(180, 182, 152);
}

#inTBG {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.fifthbod {
    display: flex;
    flex-direction: row;
    margin: 0 295px;
}

.notes a span {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.notes a span:hover {
    text-decoration: underline;
}

.notes p a {
    color: red;
}

.notes p a:hover {
    text-decoration: underline;
}

.fifthbod hr {
    width: 1px; 
    height: 400px;
    margin: 0 20px;
}

.osoh p a {
    color: black;
    font-weight: bold;
}

.osoh p a:hover {
    text-decoration: underline;
}

.osoh p a img {
    width: 100px;
}

.all_container {
    background-color: red;
    height: 120px;
    margin-top: 30px;
}

.container-sm {
    display: flex;
    flex-direction: row;
}

#writing {
    margin: 30px 30px 0 150px;
    color: white;
    font-size: 22px;
}

.email_box input {
    margin-top: 30px;
    border: 0;
    outline: none;
    padding: 10px 20px;
    height: 50px;
    width: 300px;
    font-size: 18px;
}

.email_box button {
    background: black;
    color: white;
    border: none;
    outline: none;
    height: 50px;
    width: 80px;
    font-size: 18px;
}

.thirdbod {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#fof {
    position: relative;
}

#fof img {
    width: 1100px;
    height: 500px;
}

#hof {
    position: absolute;
    width: 400px;
    height: 300px;
    left: 50%;
    bottom: 0;
    margin: 50px 0 100px 0;
    background: black;
    color: white;
}

#polbank {
    margin-top: 40px; 
    font-size: 25px; 
    text-align: center;
    color: white;
}

#pbank{
    margin-top: 15px;
    color: #fdfdfd;
    font-size: 30px;
    text-align: center;
}

#pbank:hover {
    text-decoration: underline;
}

#polbank a {
    text-decoration: none;
    color: white;
    text-align: center;
}

#polbank a:hover {
    color: red;
    text-decoration: underline;
}

#gof {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 50%;
    bottom: 0;
    margin: 0 0 390px 110px;
    background: white;
    color: purple;
    text-align: center;
}

footer {
    margin-top: 60px;
}

.firfoot {
    background-color: rgb(231, 230, 230);
    height: 1000px;
}

.partners {
    margin: 0 200px 100px 200px;
}

.QTT {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 40px 0 20px;
}

.ql h5 {
    margin: 0 20px 40px -85px;
}

.ql ul li {
    margin: 0 0 30px -120px;
}

.ql ul li a {
    color: black;
}

.ql ul li a:hover {
    text-decoration: underline;
}

.tbo h5 {
    margin: 0 20px 40px -5px;
}

.tbo ul li {
    margin: 0 0 30px -30px;
}

.tbo ul li a {
    color: black;
}

.tbo ul li a:hover {
    text-decoration: underline;
}

.tsc h5 {
    margin: 0 20px 40px -5px;
}

.tsc ul li {
    margin: 0 0 30px -30px;
}

.tsc ul li a {
    color: black;
}

.tsc ul li a:hover {
    text-decoration: underline;
}

#head5 {
    color: white;
}

.tr {
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
}

.tr:hover {
    color: white;
}

.sitemap ul li a {
    color: white;
    text-decoration: none;
}

.sitemap ul li a:hover {
    text-decoration: underline;
}

.partlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.partlist a {
    color: rgb(102, 101, 101);
    text-decoration: none;
}

.partlist a:hover {
    text-decoration: underline;
}

.secfoot {
    background-color: rgb(245, 62, 62);
    display: flex;
    flex-direction: row;
    height: 300px;
}

.links {
    margin-left: 300px;
    margin-top: 40px;
}

.links ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}

.sitemap {
    margin-left: 100px;
    margin-top: 40px;
}

h5 {
    margin-bottom: 20px;
}

.thirfoot {
    background-color: #484545;
    height: 400px;
}

.tdw {
    margin-left: 300px;
    display: flex;
    justify-content: flex-start;
}

.tdrs {
    margin-top: 40px;
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
}

.tdrs h4 {
    color: gray;
}

.tdrs ul li a {
    text-decoration: none;
    color: gray;
}

.tdrs ul li {
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
}

.tdrs ul li a:hover {
    text-decoration: underline;
}

.cook {
    display: flex;
    justify-content: center;
    margin: 50px 0px 5px;
}

.covered-button {
    background-color: #484545;
    color: gray;
    border: 2px solid gray;
    padding: 5px 10px;
    border-radius: 50px;
  }

.copyright a {
    text-decoration: none;
    color: gray;
}
.copyright a:hover {
    text-decoration: underline;
}

.copyright p {
    color: gray;
    margin-right: 300px;
    margin-left: 300px;
}

.tiplinks ul li a {
    text-decoration: none;
    color: gray;
}

@media screen and (max-width: 768px) {

    .secbod { 
        background-image: url(../image/display3-photo.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    
    .heart {
        margin: 0 80px 0 0;
    }

    .tipologo {
        margin: 0 100px 0 0;
    }

    .topbar {
        display: none;
    }

    #outer img {
        width: 400px;
    }

    #inner {
        margin: 0 0 0 -170px;
        width: 350px;
        height: 130px;
    }

    #rrcol {
        margin: 20px 0 10px -10px;
        font-size: 16px;
    }

    #text {
        font-size: 15px;
        margin: 0 0 0 30px;
    }

    #texts {
        margin: 0 0 0 40px;
        font-size: 18px;
    }

    .one {
        display: none;
    }

    .batch {
        margin: 100px 200px;
    }
    #authorsj {
        margin: 10px 10px 0 0;
    }

    .batchdivider {
        display: block;
        margin: 0 20px;
    }

    .contain {
        flex-direction: column;
        margin: 30px 0 0 10px;
    }

    #second {
        margin: 0 0 80px 0;
    }

    #second img {
        margin: 0 0 0  0;
        width: 220px;
        height: 150px;
    }

    #insecond {
        position: absolute;
        width: 200px;
        height: 50px;
        left: 50%;
        bottom: 0;
        margin: 0 0 125px 30px;
        background-color: white;
    }

    #afi {
        margin: 0 15px 20px 0;
        font-size: 15px;
    }

    .afidivider {
        display: none;
    }

    #authorss {
        margin: 10px 140px 0 0;
    }

    #rround {
        margin: 20px 0 10px -100px;
        font-size: 15px;
    }

    #recround {
        margin: 20px 0 10px -100px;
        font-size: 15px;
    }

    #texts {
        font-size: 15px;
        margin: 0 0 0 -10px;
    }

    #authorsp {
        margin: 10px 150px 0 0;
    }

    .containdivider {
        margin: 0 20px 0 0;
    }

    .fourthbod {
        margin: 150px 200px 0 200px;
    }

    #TMPR img {
        width: 600px;
        height: 500px;
        margin: 150px 0 20px 30px;
    }

    #TBG {
        width: 200px;
        height: 25px;
        left: 50%;
        bottom: 0;
        margin: 0 0 440px -80px;
    }

    #inTBG {
        font-size: 14px;
        font-weight: bold;
    }

    .fifthbod {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }
    
    .notes a span {
        margin: 0 0 0 30px;
        font-size: 18px;
    }

    .notes p a {
        margin: 10px 120px;
    }

    #notlink {
        display: none;
    }

    .fifthbod hr {
        width: 100px;
        height: 1px;
        margin: 0 190px;
    }

    .osoh {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 10px 0 20px;
    }

    .osoh p a img {
        display: none;
    }

    .osoh p a {
        margin: 0 0 20px 0;
    }

    .all_container {
        width: 600px;
        height: 250px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    #writing {
        margin: 65px 0 2px 60px;
        font-size: 19px;
    }

    .email_box {
        margin: 10px 10px 0 150px;
    }

    .email_box input {
        height: 40px;
        width: 150px;
        font-size: 12px;
        padding: 0 8px;
    }
    
    .email_box button {
        height: 40px;
        width: 80px;
        font-size: 12px;
    }

    .followlinks {
        display: none;
    }

    .thirdbod {
        margin: 50px 200px;
    }

    #fof img {
        width: 450px;
        height: 290px; 
        
    }
     
    #gof {
        position: absolute;
        width: 200px;
        height: 30px;
        left: 50%;
        bottom: 0;
        margin: 0 0 -10px -80px;
        background: white;
        color: purple;
        text-align: center;
    }

    #hof {
        position: absolute;
        width: 400px;
        height: 150px;
        left: 50%;
        bottom: 0;
        margin: 0 0 -200px -130px;
        background-color: white;
        color: black;
        font-size: 12px;
        width: 300px;
        height: 200px;
    }

    #pbank {
        margin: 0;
    }

    #polbank a {
        color: black;
        font-size: 12px;
    }

    .firfoot {
        display: none;
    }

    .secfoot {
        width: 600px;
        height: 200px;
        margin-top: 250px;
    }

    .links h3 {
        margin: 0 2px 15px -250px;
        font-size: 24px;
    }

    .links ul {
        margin: 0 0 10px -280px;
        display: flex;
        flex-direction: row;
    }

    .links li {
        margin: 0 10px;
    }

    .sitemap {
        display: none;
    }

    .thirfoot {
        width: 600px;
        height: 450px;
    }

    .tdrs h4 {
        margin: 0 2px 10px -280px;
    }

    .tdrs button {
        margin: 50px 0 0 -310px;
    }

    .tdrs ul {
        display: none;
    }

    .copyright p {
        font-size: 15px;
        margin: 0 30px 0 40px;
    }

    }

@media (max-width: 768px) {
}

body {
    overflow-x: hidden;
}