* a {
    text-decoration: none;
}

li {
    list-style: none;
}

.offcanvas {
    width: 280px;
}

.navbar-brand {
    color: #484545;
}

.hearts {
    margin: 0 0 0 -20px;
}

.topbar {
    display: none;
}

.tipologo {
    color: gray;
    font-size: 18px;
    margin: 0 30px;
}

.tipologo:hover {
    color: black;
}

.followlinks {
    display: none;
}

/* Hide the popup by default */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Style the search button */
#openSearchButton {
    margin: 0;
    cursor: pointer;
}

/* Style the search input and submit button */
#searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#searchSubmitButton {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.ul-bg {
    background-color: #484545;
}

.agt:hover {
    color: rgb(245, 62, 62) !important;
}

.fth {
    color: rgb(160, 157, 157);
    background-color: #484545;
    border-radius: 0%;
    border-color: rgb(160, 157, 157);
    font-size: 18px;
    padding: 3px 26px;
}

.secbod {
    background-image: url(../image/display3-photo.svg);
    height: 500px;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.secbod p {
    margin: 100px 0 0 0;
    font-size: 50px;
    font-weight: bolder;
}

#insecbod {
    display: flex;
    justify-content: center;
}

.insecbod {
    display: flex;
    align-items: center;
    justify-content: center;
}

.advsea a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.advsea a .left-side {
    position: relative;
    width: 10px;
    height: 10px;
    border: 4px solid black;
    margin-left: 2px;
    transition: 0.1s;
    transform: rotate(45deg);
    border-left: none;
    border-bottom: none;
}

.advsea a:hover {
    color: white;
}

.advsea a .left-side:hover {
    border-color: white;
}

.far {
    font-size: 20px;
    font-weight: bold;
}

.mgt {
        width: 900px; 
        height: 30px;
        font-size: 16px;
        margin-bottom: 15px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Style the search button */
#openSearchButtons {
    cursor: pointer;
}

/* Style the search input and submit button */
#searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#searchSubmitButton {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.navbar-toggler:focus {
    box-shadow: none;
}

h1 {
    color: white;
    margin-top: 10px;
}

.container {
    margin: 70px 0 200px 0;
}

.batch {
    display: flex;
    justify-content: center;
}

#outer {
    position: relative;
}

#outer a img {
    height: 100%;
    width: 100%;
}

#inner {
    position: absolute;
    width: 250px;
    height: 190px;
    left: 50%;
    bottom: 0;
    margin: 0 0 -100px -120px;
    padding: 0 30px;
    text-align: center;
    background: rgb(252, 252, 252);
}

#inner a {
    text-align: center;
    text-decoration: none;
    color: black;
}

#inner a:hover {
    text-decoration: none;
}

#recround {
    font-size: 16px;
    margin: 30px 20px 5px 0;
    color: gray;
}

#rrcol {
    margin-top: 15px;
    font-size: 16px;
    color: gray;
}

#rround {
    font-size: 16px;
    margin: 30px 20px 5px 0;
    color: gray;
}

#text {
    margin: 0 25px;
    font-size: 17px;
    font-weight: bold;
}

#afi {
    margin: 0 4px;
    font-size: 14px;
    font-weight: bold;
}

#texts {
    margin: 0 4px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.afidivider {
    margin: 10px 50px 0 20px;
}

#authorsj {
    font-size: 14px;
    color: red;
}

#authorsp {
    font-size: 14px;
    color: red;
}

#authorss {
    font-size: 14px;
    color: red;
}

.one {
    margin: 10px 30px
}

.batchdivider {
    display: none;
}

.contain {
    display: flex;
    flex-direction: column;
    margin: 200px 150px 50px 12px;
}

.friedrice {
   margin: 0;
   position: relative;
}

.friedrice img {
    margin: 0;
    width: 100%;
    height: 100%;
}

.jollofrice {
    margin: 0;
    position: relative;
 }

.jollofrice img {
    margin: 0;
    width: 100%;
    height: 100%;
}

.seconddivider {
    display: none;
}

#insecond {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 50%;
    bottom: 0;
    margin: 0 0 -30px 70px;
    background-color: rgb(255, 255, 255);
}

#insecond a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.containdivider {
    margin: 250px 300px 60px 240px;
}

.container-lg {
    margin: 0 0 20px 0;
}

.fourthbod {
    display: flex;
    justify-content: center;
    margin-right: 0;
}

#TMPR {
        position: relative;
}

#TMPR img {
    height: 100%;
    width: 100%;
}

#TBG {
    position: absolute;
    width: 120px;
    height: 35px;
    left: 50%;
    bottom: 0;
    margin: 0 0 180px -50px;
    background: rgb(180, 182, 152);
}

#inTBG {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.fifthbod {
    display: flex;
    flex-direction: column;
}

.notes a span {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.notes p a {
    color: red;
}

.fifthbod hr {
    margin: 0 60px;
}

.osoh p a {
    color: black;
    font-weight: bold;
    text-align: center;
}

.osoh p a img {
    display: none;
}

.all_container {
    height: 200px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: red;
}

#writing {
    margin: 0 50px 0;
    color: white;
    font-size: 22px;
    text-align: center;
}

.email_box{ 
    margin: 0 5px;
}

.email_box input {
    margin-top: 30px;
    border: 0;
    outline: none;
    padding: 7px 15px;
    height: 60px;
    width: 220px;
    font-size: 14px;
}

.email_box button {
    background: black;
    color: white;
    border: none;
    outline: none;
    height: 60px;
    width: 80px;
    font-size: 14px;
}

.container-sm {
    margin-top: 40px;
}

#fof {
    position: relative;
}

#fof img {
    width: 100%;
    height: 100%;
}

#hof {
    position: absolute;
    width: 300px;
    height: 350px;
    left: 50%;
    bottom: 0;
    margin: 0 0 -380px -150px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
}

#polbank {
    margin-top: 40px; 
    font-size: 16px; 
    text-align: center;
}

#pbank{
    margin-top: 12px;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#pbankwritng {
    font-size: 10px;
    color:  black;
}

#polbank a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
}

#gof {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 50%;
    bottom: 0;
    margin: 0 0 -10px -90px;
    background: rgb(255, 255, 255);
    color: purple;
    text-align: center;
}

footer {
    margin-top: 450px;
    width: 100%;
}

.firfoot {
    display: none;
}

.secfoot {
    background-color: rgb(245, 62, 62);
    display: flex;
    flex-direction: row;
    height: 200px;
}

.links {
    margin: 40px 30px;
}

.links h3 a {
    font-size: 30px;
    color: white;
}

.links ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}

.sitemap {
    display: none;
}

.thirfoot {
    background-color: #484545;
    height: 600px;
}

.tdw {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.tdrs {
    display: none;
}

.tdw h4 {
    margin-top: 70px;
    color: gray;
}

.cook {
    display: flex;
    justify-content: center;
    margin: -250px 0 30px 100px;
}

.covered-button {
    background-color: #484545;
    color: gray;
    border-style: solid gray;
    border-width: thin;
    padding: 5px 8px;
  }

.copyright a {
    text-decoration: none;
    color: gray;
}

.copyright p {
    font-size: 12px;
    color: gray;
    margin-right: 10px;
    margin-left: 10px;
}

.box {
    position: relative;
    width: 200px;
    height: 250px;
    margin: 60px 10px 110px;
}

.drop {
    position: relative;
    width: 100%;
    height: 50px;
    border-style: solid;
    border-width: thin;
    background: #484545;
    color: gray;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.drop .left-icon,
.drop .right-icon {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 6px;
    background: gray;
    border-radius: 40px;
    transition: .1s;
}

.drop .left-icon {
    left: 7px;
    transform: rotate(45deg);
}

.drop.active .left-icon {
    transform: rotate(135deg);
}

.drop .right-icon {
    transform: rotate(-45deg);
}

.drop.active .right-icon {
    transform: rotate(-135deg);
}

.drop .items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin-top: -69px;
    overflow: hidden;
} 

.drop .items a {
    position: relative;
    top: 100%; 
    display: flex;
    font-size: 15px;
    background: #484545;
    color: grey;
    text-decoration: none;
    padding: 0 20px;
    
}

.drop.active .items a {
    top: 0;
}

nav {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

@media screen and (min-width: 375px) {
    
.offcanvas {
    width: 300px;
}

.hearts {
    margin: 0 0 0 -50px;
}

.tipologo {
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin: 0 40px;
}

#insecond {
    margin: 0 0 -10px 95px;
}

.email_box{ 
    margin: 0 10px;
}

.email_box input {
    width: 260px;
    font-size: 16px;
}

.email_box button {
    background: black;
    color: white;
    border: none;
    outline: none;
    height: 60px;
    width: 80px;
    font-size: 16px;
}

}

@media screen and (min-width: 425px) {

    .hearts {
        margin-left: -80px ;
    }
    
    .tipologo {
        font-size: 20px;
        margin-left: 60px;
    }
    
    .insecbod p {
        font-size: 60px;
    }
    
    .container {
        margin: 60px 0 70px 0;
    }
    
    #inner {
        height: 150px;
        width: 250px;
        margin: 0 0 -30px -120px;
    }
    
    #rrcol{
        font-size: 18px;
    }
    
    #text{
        font-size: 16px;
        margin: 10px 0 10px 7px;
    }
    
    #authorsj {
        font-size: 16px;
    }
    
    .container-md {
        margin-top: 50px;
    }
    
    .contain {
        display: flex;
        flex-direction: column;
        height: 500px;
        margin: 0;
    }
    
    .friedrice img {
        margin-left: 10px;
        width: 180px;
        height: 200px;
    }

    #afi {
        font-size: 15px;
        margin-left: 16px;
    }
    
    #rround {
        font-size: 18px;
        margin-left: -30px;
    }
    
    #authorss {
        margin-top: 10px;
        margin-left: -100px;
        font-size: 16px;
    }
    
    .jollofrice img {
        margin-left: 10px;
        width: 180px;
        height: 200px;
    }
    
    #recround {
        font-size: 18px;
        margin-left: -10px;
    }
    
    #texts {
        font-size: 15px;
        margin-left: 16px;
    }
    
    #authorsp {
        font-size: 16px;
        margin-top: 10px;
        margin-left: -109px;
    }
    
    #insecond {
        width: 190px;
        height: 120px;
        margin: 0 0 50px 5px;
    }
    
    .fourthbod {
            margin-left: 125px;
    }
    
    #TMPR img {
        width: 350px;
        height: 350px;
        margin-left: -150px;
    }
    
    #TBG {
        margin: 0 0 280px -140px;
    }
    
    #inTBG {
        margin-top: 8px;
        font-size: 15px;
    }
    
    .fifthbod {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .notes a span {
        font-size: 22px;
    }
    
    .osoh p a {
        font-size: 16px;
    }
    
    .all_container {
        height: 200px;
        flex-direction: column;
    }
    
    #writing {
        font-size: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .email_box {
        margin-left: 45px;
    }
    
    .email_box form input {
        width: 250px;
        font-size: 15px;
    }
    
    .email_box form button {
        font-size: 15px;
    }
    
    #fof img {
        margin-top: 20px;
        margin-left: 0;
    }
    
    #gof {
        margin-bottom: -10px;
        margin-left: -100px;
    }
    
    #hof {
        margin-bottom: -380px;
        margin-left: -160px;
    }
    
    #pbank {
        font-size: 20px;
        margin-left: 20px;
    }
    
    #pbankwriting {
        font-size: 15px;
        text-align: center;
        margin: 0 5px;
    }
    
    #polbank {
        margin-left: 35px;
    }
    
    #polbank a {
        font-size: 20px;
    }
    
    .secfoot {
        width: 100%;
        height: 200px;
    }
    
    .links h3 {
        margin: 0 2px 15px -20px;
        font-size: 24px;
    }
    
    .links ul {
        margin: 0 0 10px -20px;
    }
    
    .links li {
        margin: 0 5px;
    }
    
    .thirfoot {
        width: 100%;
        height: 800px;
    }
    
    .tdw h4 {
        font-size: 26px;
        margin: 30px 0 40px -20px;
    }
    
    .box {
        margin: 0 0 0 -10px;
    }
    
    .drop {
        width: 250px;
        padding: 5px 5px;
        margin: 30px 0 30px 0;
        font-size: 17px;
    }
    
    .cook {
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .copyright p {
        font-size: 16px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    }
    
@media screen and (min-width: 768px) {
        
    .hearts {
            margin-left: 380px;
        }
        
    .tipologo {
            font-size: 25px;
            margin-left: -390px;
        }

    .offcanvas {
            width: 400px;
        }
        
    .insecbod p {
            font-size: 80px;
        }

    .advsea a {
            font-size: 20px;
        }
        
    .container {
            margin: 30px 0 70px 30px;
        }
        
    #outer a img {
            width: 550px;
        }
        
    #inner {
            height: 200px;
            width: 450px;
            margin-left: -220px;
        }
        
    #rrcol{
            font-size: 24px;
        }
        
    #text{
            font-size: 20px;
            margin: 10px 0 20px 5px;
        }
        
    #authorsj {
            font-size: 20px;
            margin-top: 10px;
        }
        
    .container-md {
        margin: 50px 0 0 0;
    }
    
    .contain {
        display: flex;
        flex-direction: column;
        height: 500px;
    }
    
    .friedrice {
        margin-bottom: 10px;
    }
    
    .friedrice img {
        margin-left: 10px;
        width: 300px;
        height: 200px;
    }
    
    #rround {
        font-size: 28px;
        margin-left: -80px;
    }
    
    #afi {
        font-size: 24px;
        margin-left: 12px;
    }
    
    #authorss {
        font-size: 24px;
        margin-top: 10px;
        margin-left: -180px;
    }
    
    .jollofrice {
        margin-top: 30px;
    }
    
    .jollofrice img {
        margin-left: 10px;
        width: 300px;
        height: 200px;
    }
    
    #recround {
        font-size: 28px;
        margin-left: -50px;
    }
    
    #texts {
        font-size: 24px;
        margin-left: 12px;
    }
    
    #authorsp {
        font-size: 24px;
        margin-top: 10px;
        margin-left: -195px;
    }
    
    #insecond {
        position: absolute;
        width: 300px;
        height: 200px;
        left: 50%;
        bottom: 0;
        margin: 0 0 20px 30px;
        background-color: rgb(255, 255, 255);
    }
    
    .containdivider {
        margin: 100px 40px;
    }
    
    .fourthbod {
            display: flex;
            justify-content: center;
            margin-left: 5px;
    }
    
    #TMPR img {
        width: 700px;
        height: 500px;
        margin-left: 10px;
        margin-bottom: 20px;
    }
    
    #TBG {
        margin: 0 0 470px -80px;
        width: 200px;
        height: 80px;
        display: flex;
        justify-content: center;;
    }
    
    #inTBG {
        margin-top: 15px;
        font-size: 24px;
    }

    .fifthbod {
        flex-direction: row;
    }

    .fifthbod hr {
        width: 1px;
        height: 750px;
    }

    #notlink {
        font-size: 20px;
    }
    
    .notes a span {
        font-size: 35px;
    }
    
    .notes p a {
        font-size: 27px;
    }
    
    .osoh p a {
        font-size: 22px;
        text-align: center;
    }

    .osoh p a img {
        display: block;
        width: 100px;
        height: 100px;
    }
    
    .all_container {
        height: 150px;
        width: 768px;
        flex-direction: row;
    }
    
    #writing {
        font-size: 28px;
        text-align: center;
        margin-left: 0;
        margin-right: 310px;
    }
    
    .email_box {
        margin-left: 1px;
    }
    
    .email_box form input {
        width: 230px;
        height: 80px;
        font-size: 18px;
        margin-left: -320px;
    }
    
    .email_box form button {
        width: 80px;
        height: 80px;
        font-size: 17px;
    }
    
    .container-sm {
        margin-top: 60px;
    }
    
    #fof img {
        margin-top: 20px;
        margin-left: 0;
        width: 700px;
    }
    
    #gof {
        margin-bottom: 530px;
        margin-left: -45px;
        width: 300px;
        height: 50px;
    }
    
    #gof p {
        font-size: 28px;
        margin-top: 13px;
    }
    
    #hof {
        width: 450px;
        height: 500px;
        margin-bottom: 60px;
        margin-left: -120px;
        color: rgb(255, 252, 252);
        background: rgb(0, 0, 0);
    }
    
    #pbank {
        font-size: 26px;
        margin-left: 10px;
        color: white;
        margin-top: 40px;
    }
    
    #pbankwriting {
        font-size: 27px;
        text-align: center;
        margin: 0 5px;
    }
    
    #polbank {
        margin-left: 35px;
    }
    
    #polbank a {
        font-size: 30px;
        color: white;
    }
    
    .secfoot {
        height: 400px;
        margin-top: 600px;
    }

    .links {
        display: flex;
        flex-direction: column;
    }
    
    .links h3 a {
        margin: 0 0 15px 20px;
        font-size: 55px;
    }
    
    .links ul {
        margin: 0 0 10px 0;
    }
    
    .links ul li a {
        margin-right: 20px;
    }

    .thirfoot {
        height: 1200px;
    }
    
    .tdw h4 {
        font-size: 30px;
        margin: 30px 0 0 10px;
    }
    
    .box {
        margin: 90px 0 20px 20px;
    }
    
    .drop {
        width: 350px;
        height: 60px;
        padding: 5px 5px;
        margin: 30px 0 50px 0;
        font-size: 26px;
    }

    .tdrs {
        display: block;
        margin-right: 200px;
        margin-bottom: 40px;
    }

    .tdrs ul li a {
    color: gray;
    font-size: 22px;
    }

    .tdrs ul li a:hover {
        text-decoration: underline;
    }
    
    .cook {
        margin-left: -180px;
    }
    
    .covered-button {
        width: 300px;
        height: 50px;
        font-size: 30px;
    }
    
    .copyright p {
        font-size: 26px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .one {
            display: none;
    }
        
    .afidivider {
            display: none;
    }

    }

@media screen and (min-width: 1024px) {
        
        .hearts {
                margin-left: 380px;
            }
            
        .tipologo {
                font-size: 25px;
                margin-left: -390px;
            }
    
        .offcanvas {
                width: 400px;
            }
            
        .insecbod p {
                font-size: 80px;
            }
    
        .advsea a {
                font-size: 20px;
            }
            
        .container {
                margin: 30px 0 70px 30px;
            }
            
        #outer a img {
                width: 550px;
            }
            
        #inner {
                height: 200px;
                width: 450px;
                margin-left: -220px;
            }
            
        #rrcol{
                font-size: 24px;
            }
            
        #text{
                font-size: 20px;
                margin: 10px 0 20px 5px;
            }
            
        #authorsj {
                font-size: 20px;
                margin-top: 10px;
            }
            
        .container-md {
            margin: 50px 0 0 0;
        }
        
        .contain {
            display: flex;
            flex-direction: column;
            height: 500px;
        }
        
        .friedrice {
            margin-bottom: 10px;
        }
        
        .friedrice img {
            margin-left: 10px;
            width: 300px;
            height: 200px;
        }
        
        #rround {
            font-size: 28px;
            margin-left: -80px;
        }
        
        #afi {
            font-size: 24px;
            margin-left: 12px;
        }
        
        #authorss {
            font-size: 24px;
            margin-top: 10px;
            margin-left: -180px;
        }
        
        .jollofrice {
            margin-top: 30px;
        }
        
        .jollofrice img {
            margin-left: 10px;
            width: 300px;
            height: 200px;
        }
        
        #recround {
            font-size: 28px;
            margin-left: -50px;
        }
        
        #texts {
            font-size: 24px;
            margin-left: 12px;
        }
        
        #authorsp {
            font-size: 24px;
            margin-top: 10px;
            margin-left: -195px;
        }
        
        #insecond {
            position: absolute;
            width: 300px;
            height: 200px;
            left: 50%;
            bottom: 0;
            margin: 0 0 20px -70px;
            background-color: rgb(255, 255, 255);
        }
        
        .containdivider {
            margin: 100px 40px;
        }
        
        .fourthbod {
                display: flex;
                justify-content: center;
                margin-left: 5px;
        }
        
        #TMPR img {
            width: 700px;
            height: 500px;
            margin-left: 10px;
            margin-bottom: 20px;
        }
        
        #TBG {
            margin: 0 0 470px -80px;
            width: 200px;
            height: 80px;
            display: flex;
            justify-content: center;;
        }
        
        #inTBG {
            margin-top: 15px;
            font-size: 24px;
        }
    
        .fifthbod {
            flex-direction: row;
        }
    
        .fifthbod hr {
            width: 1px;
            height: 750px;
        }
    
        #notlink {
            font-size: 20px;
        }
        
        .notes a span {
            font-size: 35px;
        }
        
        .notes p a {
            font-size: 27px;
        }
        
        .osoh p a {
            font-size: 22px;
            text-align: center;
        }
    
        .osoh p a img {
            display: block;
            width: 100px;
            height: 100px;
        }
        
        .all_container {
            height: 150px;
            width: 100%;
            flex-direction: row;
        }
        
        #writing {
            font-size: 24px;
            text-align: center;
            margin-left: 80px;
            margin-right: 560px;
        }
        
        .email_box {
            margin-left: 1px;
        }
        
        .email_box form input {
            width: 280px;
            height: 80px;
            font-size: 24px;
            margin-left: -450px;
        }
        
        .email_box form button {
            width: 120px;
            height: 80px;
            font-size: 24px;
        }
        
        .container-sm {
            margin-top: 60px;
        }
        
        #fof img {
            margin-top: 20px;
            margin-left: 0;
            width: 950px;
        }
        
        #gof {
            margin-bottom: 650px;
            margin-left: -5px;
            width: 300px;
            height: 60px;
        }
        
        #gof p {
            font-size: 28px;
            margin-top: 13px;
        }
        
        #hof {
            width: 450px;
            height: 500px;
            margin-bottom: 160px;
            margin-left: -90px;
        }
        
        #pbank {
            font-size: 26px;
            margin-left: 10px;
            color: white;
        }
        
        #pbankwriting {
            font-size: 27px;
            text-align: center;
            margin: 0 5px;
        }
        
        #polbank {
            margin-left: 35px;
        }
        
        #polbank a {
            font-size: 30px;
            color: white;
        }
        
        .secfoot {
            height: 400px;
            margin-top: 600px;
        }
    
        .links {
            display: flex;
            flex-direction: column;
        }
        
        .links h3 a {
            margin: 0 0 15px 20px;
            font-size: 55px;
        }
        
        .links ul {
            margin: 0 0 10px 0;
        }
        
        .links ul li a {
            margin-right: 20px;
        }
    
        .thirfoot {
            height: 1200px;
        }
        
        .tdw h4 {
            font-size: 30px;
            margin: 30px 0 0 10px;
        }
        
        .box {
            margin: 90px 0 20px 20px;
        }
        
        .drop {
            width: 350px;
            height: 60px;
            padding: 5px 5px;
            margin: 30px 0 50px 0;
            font-size: 26px;
        }
    
        .tdrs {
            display: block;
            margin-right: 200px;
            margin-bottom: 40px;
        }
    
        .tdrs ul li a {
        color: gray;
        font-size: 22px;
        }
    
        .tdrs ul li a:hover {
            text-decoration: underline;
        }
        
        .cook {
            margin-left: -180px;
        }
        
        .covered-button {
            width: 300px;
            height: 50px;
            font-size: 30px;
        }
        
        .copyright p {
            font-size: 26px;
            margin-left: 20px;
            margin-right: 20px;
        }

    }

@media screen and (min-width: 1440px) {

    
.offcanvas {
    width: 320px;
}

.hearts {
    margin: 0 10px;
}

.tipologo {
    font-size: 25px;
    margin: 0 0 0 520px;
}

.followlinks {
    display: block;
}

.secbod {
    background-image: url(../image/display3-photo.svg);
    height: 500px;
    background-position: center;
    background-size: cover;
}

.secbod p {
    margin: 100px 0 0 0;
    font-size: 70px;
    font-weight: bolder;
}

.batch {
    display: flex;
    justify-content: center;
}

#outer {
    position: relative;
}

#outer a img {
    height: 700px;
    width: 800px;
}

#inner {
    position: absolute;
    width: 500px;
    height: 80px;
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -250px;
    background: rgb(255, 255, 255);
}

#inner a {
    text-align: center;
    text-decoration: none;
    color: black;
}

#inner a:hover {
    text-decoration: none;
}

#recround {
    margin-top: 20px;
    margin-left: 20px;
    color: gray;
}

#rrcol {
    margin-top: 20px;
    color: gray;
}

#rround {
    margin-top: 20px;
    margin-left: 20px;
    color: gray;
}

#text {
    margin: 0 25px;
    font-size: 22px;
    font-weight: bold;
}

#text:hover {
    text-decoration: underline;
}

#afi {
    margin-left: 65px;
    font-size: 16px;
}

#afi:hover {
    text-decoration: underline;
}

#texts {
    margin-left: 70px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#texts:hover {
    text-decoration: underline;
}

.afidivider {
    display: block;
    margin: 10px 50px 10px 50px
}

#authorsj {
    color: red;
}

#authorsp {
    margin-left: 5px;
    color: red;
}

#authorss {
    margin-left: 5px;
    color: red;
}

.one {
    display: block;
    margin: 15px 200px 15px 200px
}

.contain {
    display: flex;
    flex-direction: row;
    height: 200px;
    margin: 200px 0 50px 200px;
}

.friedrice {
   margin: 0 0 700px 0;
   position: relative;
}

.friedrice img {
    margin: 0 30px 0  0;
    width: 400px;
    height: 300px;
}

.jollofrice {
    margin: 0 0 700px 0;
    position: relative;
 }

.jollofrice img {
    margin: 0 30px 0  0;
    width: 400px;
    height: 300px;
}

#insecond {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 50%;
    bottom: 0;
    margin: 0 0 -400px -160px;
    background-color: rgb(255, 255, 255);
}

#insecond a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.containdivider {
    margin: 250px 300px 60px 240px;
}

.fourthbod {
    display: flex;
    justify-content: center;
    margin-right: 400px;
}

#TMPR img {
    height: 700px;
    width: 1200px;
}

#TBG {
    position: absolute;
    width: 200px;
    height: 55px;
    left: 50%;
    bottom: 0;
    margin: 0 0 700px -100px;
    background: rgb(180, 182, 152);
}

#inTBG {
    text-align: center;
    font-size: 20px;
}

.container-lg {
    margin: 0 295px;
}

.fifthbod {
    display: flex;
    flex-direction: row;
}

.notes {
    margin-left: 80px;
}

.notes a span {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.notes a span:hover {
    text-decoration: underline;
}

.notes p a {
    color: red;
}

.notes p a:hover {
    text-decoration: underline;
}

.fifthbod hr {
    width: 1px; 
    height: 600px;
    margin: 0 20px;
}

.osoh {
    margin-right: 150px;
}

.osoh p a:hover {
    text-decoration: underline;
}

.osoh p a img {
    width: 100px;
}

.all_container {
    width: 100%;
    height: 140px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    background-color: red;
}

#writing {
    margin: 30px 520px 0 100px;
    color: white;
    font-size: 28px;
}

.email_box form input {
    margin-top: 30px;
    padding: 10px 20px;
    height: 50px;
    width: 400px;
    font-size: 22px;
}

.email_box form button {
    height: 50px;
    width: 100px;
    font-size: 22px;
}

.container-sm {
    margin-top: 40px;
}

#fof {
    position: relative;
}

#fof img {
    width: 1300px;
    height: 800px;
}

#hof {
    position: absolute;
    width: 400px;
    height: 500px;
    left: 50%;
    bottom: 0;
    margin: 50px 0 100px 170px;
    background: black;
    color: white;
}

#polbank {
    margin-top: 40px; 
    font-size: 20px; 
    text-align: center;
    color: white;
}

#pbank{
    margin-top: 15px;
    color: #fdfdfd;
    font-size: 25px;
    text-align: center;
}

#pbank:hover {
    text-decoration: underline;
}

#pbankwritng {
    font-size: 16px;
}

#polbank a {
    text-decoration: none;
    color: white;
    text-align: center;
}

#polbank a:hover {
    color: red;
    text-decoration: underline;
}

#gof {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 50%;
    bottom: 0;
    margin: 0 0 580px 250px;
    background: white;
    color: purple;
    text-align: center;
}

#gof p {
    font-size: 22px;
}

footer {
    margin-top: 60px;
    width: 100vw;
}

.firfoot {
    display: block;
    background-color: rgb(231, 230, 230);
    height: 1000px;
}

.partners {
    margin: 0 200px 100px 200px;
}

.QTT {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 40px 0 20px;
}

.ql h5 {
    margin: 0 20px 40px -85px;
}

.ql ul li {
    margin: 0 0 30px -120px;
}

.ql ul li a {
    color: black;
}

.ql ul li a:hover {
    text-decoration: underline;
}

.tbo h5 {
    margin: 0 20px 40px -5px;
}

.tbo ul li {
    margin: 0 0 30px -30px;
}

.tbo ul li a {
    color: black;
}

.tbo ul li a:hover {
    text-decoration: underline;
}

.tsc h5 {
    margin: 0 20px 40px -5px;
}

.tsc ul li {
    margin: 0 0 30px -30px;
}

.tsc ul li a {
    color: black;
}

.tsc ul li a:hover {
    text-decoration: underline;
}

.tr:hover {
    color: white;
}

.partlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.partlist a {
    color: rgb(102, 101, 101);
    text-decoration: none;
}

.partlist a:hover {
    text-decoration: underline;
}

.secfoot {
    background-color: rgb(245, 62, 62);
    display: flex;
    flex-direction: row;
    height: 400px;
    margin-top: 0;
}

.links {
    margin-left: 150px;
    margin-top: 40px;
}

.links h3 a {
    font-size: 26px;
    color: white;
}

.links ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}

.sitemap {
    display: block;
}

.class {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 80px;
}

.sitemap ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.sitemap ul li a:hover {
    text-decoration: underline;
}

.sitemap ul li h5 a {
    margin-bottom: 20px;
    font-size: 26px;
}

#head5 {
    color: white;
    font-size: 26px;
}

.thirfoot {
    background-color: #484545;
    height: 500px;
}

.tdw {
    margin-left: 180px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.tdrs {
    margin-top: 0;
    margin-bottom: 280px;
    margin-left: 150px;
    margin-top: 40px;
    display: flex;
}

.tdw h4 {
    margin-top: 20px;
    color: gray;
}

.tdrs ul li a {
    font-size: 15px;
    text-decoration: none;
    color: gray;

}

.tdrs ul li {
    display: inline-block;
}

.tdrs ul li a:hover {
    text-decoration: underline;
}

.cook {
    display: flex;
    justify-content: center;
    margin: -220px 0 10px 0;
}

.covered-button {
    background-color: #484545;
    color: gray;
    border-style: solid gray;
    border-width: thin;
    padding: 5px 8px;
    margin-bottom: 10px;
  }

.copyright a {
    text-decoration: none;
    color: gray;
}

.copyright a:hover {
    text-decoration: underline;
}

.copyright p {
    font-size: 18px;
    color: gray;
    margin-right: 200px;
    margin-left: 200px;
}

.tiplinks ul li a {
    text-decoration: none;
    color: gray;
}

.box {
    width: 300px;
    height: 250px;
    margin: 20px 30px 10px;
}

.drop {
    font-size: 20px;
}

}